<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE suite SYSTEM "https://testng.com/testng-1.0.dtd">
<suite name="CubeCart Functional Test">
    <test verbose="2" preserve-order="true" name="/Users/mac/IdeaProjects/United-Coder-2022">
        <classes>
            <class name="regressionsuit.testngframework.TestNGDemo3">
<!--                <methods>-->
<!--                    <include name="loginTest"/>-->
<!--                    <include name="addCustomer"/>-->
<!--                </methods>-->
            </class>
            <class name="regressionsuit.junitframework.JUnittestDemo1">
<!--                <methods>-->
<!--                    <include name="squareRootTest"/>-->
<!--                    <include name="compareTwoString"/>-->
<!--                    <include name="power"/>-->
<!--                </methods>-->
            </class>
            <class name="regressionsuit.junitframework.JUnittestDemo2">
<!--                <methods>-->
<!--                    <include name="addProduct"/>-->
<!--                    <include name="deleteProduct"/>-->
<!--                    <include name="updateProductInfo"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>